.fcontainer{
    display: flex;
    border: 2px solid gray;
    height: 45vh;
    /* flex-direction: row; */
    /* flex-direction: column; */
    /* flex-direction: row-reverse; */
    /* flex-direction: column-reverse; */

    /* justify-content: center; */
    /* justify-content: flex-end; */
    /* justify-content: flex-start; */

    /* align-items: center; */
    /* align-items: flex-end; */
    /* align-items: flex-start; */

    /* flex-wrap: wrap; */
    /* flex-wrap: wrap-reverse; */

    /* flex-flow: column wrap; */
}

.fitem{
    background-color: red;
    border: 2px solid black;
    margin: 12px;
    width: 122px;
    height: 122px;
}

.item-1{
    order: 3;
    /* flex-grow: 3; */
    /* flex-shrink: 2; */
    align-self: center;
}

.item-4{
    order: 4;
    /* flex-grow: 2; */
}