/* Form Layout */

.container{
    border: 2px solid red;
}

.form-row{
    padding: 10px 0;
    display: flex;
}

.form-row label{
    padding-right: 10px;
    flex: 2;
}

.form-row input{
    flex: 1;
}


/* Layout Examples */

.colum-layout{
    max-width: 1300px;
    background-color: #FFF;
    margin: 40px auto 0 auto;
    line-height: 1.65;
    padding: 20px 50px;

    display: flex;
}

.main-colum{
    flex: 3;
    order: 2;
}

.sidebar-one{
    flex: 1;
    order: 1;
}

.sidebar-two{
    flex: 1;
    order: 3;
}

/* Example-3 */
/* call-out-container div */

.call-out-container{
    max-width: 1400px;
    margin: 40px auto 0 auto;
    /* display: flex; */
    /* align-items: flex-start; */
    /* align-items: flex-end; */
    /* align-items: center; */

    /* this is default value in aling items in flexbox */
    /* align-items: stretch; */

    /* justify-content: flex-start; */
    /* justify-content: flex-end; */
    /* justify-content: center; */
    /* justify-content: space-between; */
}

.call-out{
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    /* flex: 1; */
    /* margin-right: 40px; */
    flex-basis: 30%;
    width: 30%;
}

@media (min-width:900px){
    .call-out-container{
        display: flex;
        justify-content: space-between;
        background-color: aquamarine;
    }
}

/* targed last call-out div  and set mergin 0 for no mergin in the right side*/
/* .call-out:last-child{
    margin-right: 0;
} */




.call-out:nth-child(1) {background-color: rgb(148, 24, 107);}
.call-out:nth-child(2) {background-color: rgb(43, 136, 136);}
.call-out:nth-child(3) {background-color: rgb(74, 42, 104);}

/* --------------------------------------------------- */

